.bloc_form {
    margin-bottom: $space-e-large*1.5;
    margin-top: $space-large*2;
    .form_group {
        margin-bottom: $space-large;

        // Labels
        .form_label {
            display: block;
            text-transform: capitalize;
            margin-bottom: $space-medium;
            font-size: $f-text-medium;
            font-weight: bold;
        }

        // Global input style
        .form_input {
            padding: 0 1rem;
            border: 2.4px solid $c-black;
            border-radius: 25px;
        }

        // Success input style
        .form_input.valid {
            border-color: $c-valid;
        }

        // Error input style
        .form_input.error  {
            border-color: $c-error;
        }

        // Input text, email style
        .form_input[type=text], .form_input[type=number], .form_input[type=email] {
            height: 50px;
            width: 460px;
        }

        // Input number style
        .form_input[type=number] {
            width: 320px;
        }


        .form_input[type=file] {
            padding: 12px 0;
            height: 50px;
            width: 280px;
            background: rgb(0,0,0);
            background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 100%);
            &::-webkit-file-upload-button {
                visibility: hidden;
            }
            &::before {
                content: 'Votre image';
                display: inline-block;
                // background: $c-black;
                // border: 1px solid #999;
                // border-radius: 3px;
                padding-left: 12px;
                padding-right: 12px;
                // padding-top: 12px;
                outline: none;
                white-space: nowrap;
                -webkit-user-select: none;
                cursor: pointer;
                // text-shadow: 1px 1px #fff;
                font-weight: 700;
                font-size: 10pt;
                color: $c-white;
                // height: 38px;
                // margin-top: -14px;
            }
            &:hover::before {
                border-color: black;
            }
            &:active::before {
                background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
            }
        }

        // Input password style
        .form_input[type=password] {
            height: 50px;
            width: 380px;
        }

        // Input select style
        select.form_input {
            height: 50px;
            width: 380px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: url(https://cdn.discordapp.com/attachments/657316438264119321/676133392156196874/Chevron.svg) 96% / 6% no-repeat #eee;
            // background-size: 6%;
        }

        // Input textarea style
        textarea.form_input {
            padding-top: 16px;
            width: 640px;
        }

        // Global responsive
        @include screen-sm() {
            textarea.form_input, 
            select.form_input, 
            .form_input[type=text], 
            .form_input[type=email],
            .form_input[type=number],
            .form_input[type=password] {
                width: 100%;
            }
        }

        // Input checkbox style
        .checkbox_group {
            .control {
                font-family: arial;
                display: block;
                position: relative;
                padding-left: 38px;
                margin-bottom: 16px;
                padding-top: 4px;
                cursor: pointer;
                font-size: 16px;
                input {
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                }
            
                .control_indicator {
                    position: absolute;
                    top: 0px;
                    left: 0;
                    height: 24px;
                    width: 24px;
                    background: #e6e6e6;
                    border: 0px solid #000000;
                    border-radius: 7px;
                }

                input[type=checkbox]:checked~.form_hidden {
                    display: block;
                  }

                .form_hidden {
                    display: none;
                    width: 640px;
                    position: relative;
                    margin-left: -40px;
                    margin-top: 16px;
                    opacity: 1;
                    z-index: 1;
                }
            }
            
            .control:hover input ~ .control_indicator,
            .control input:focus ~ .control_indicator {
                background: #cccccc;
            }
            .control input:checked ~ .control_indicator {
                background: #000000;
            }
            .control:hover input:not([disabled]):checked ~ .control_indicator,
            .control input:checked:focus ~ .control_indicator {
                background: #000000;
            }
            .control input:disabled ~ .control_indicator {
                background: #eeeeee;
                opacity: 2;
                pointer-events: none;
            }
            .control_indicator:after {
                box-sizing: unset;
                content: '';
                position: absolute;
                display: none;
            }
            .control input:checked ~ .control_indicator:after {
                display: block;
            }
            .control-checkbox .control_indicator:after {
                left: 8px;
                top: 5px;
                width: 6px;
                height: 9px;
                border: solid #ffffff;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
            .control-checkbox input:disabled ~ .control_indicator:after {
                border-color: #7b7b7b;
            }
        }

        // Input radio style
        .radio_group {
            .control {
                font-family: arial;
                display: block;
                position: relative;
                padding-left: 38px;
                margin-bottom: 16px;
                padding-top: 2px;
                cursor: pointer;
                font-size: 16px;
            }
                .control input {
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                }
            .control_indicator {
                position: absolute;
                top: 0px;
                left: 0;
                height: 24px;
                width: 24px;
                background: #ffffff;
                border: 3px solid #000000;
                border-radius: undefinedpx;
            }
            .control:hover input ~ .control_indicator,
            .control input:focus ~ .control_indicator {
                background: #f3f3f3;
            }
            
            .control input:checked ~ .control_indicator {
                background: #ffffff;
            }
            .control:hover input:not([disabled]):checked ~ .control_indicator,
            .control input:checked:focus ~ .control_indicator {
                background: #ffffff;
            }
            .control input:disabled ~ .control_indicator {
                background: #e6e6e6;
                opacity: 0.6;
                pointer-events: none;
            }
            .control_indicator:after {
                box-sizing: unset;
                content: '';
                position: absolute;
                display: none;
            }
            .control input:checked ~ .control_indicator:after {
                display: block;
            }
            .control-radio .control_indicator {
                border-radius: 50%;
            }
            
            .control-radio .control_indicator:after {
                left: 4px;
                top: 4px;
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background: #000000;
                transition: background 250ms;
            }
            .control-radio input:disabled ~ .control_indicator:after {
                background: #7b7b7b;
            }
        }
    }
    // Rating input
    $stars: 5;
    $star-size: 40px;
    $star-spacing: 2px;
    $star-on-color: #F9DF4A;
    $star-off-color: #CCCCCC;

    .form_star {
        .form_label {
            display: block;
            text-transform: capitalize;
            margin-bottom: 0;
            font-size: $f-text-medium;
            font-weight: bold;
        }
        .star_group {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            label {
                float: right;
                position: relative;
                width: $star-size;
                height: $star-size;
                cursor: pointer;
                
                &:not(:first-of-type) {
                    padding-right: $star-spacing;
                }
                
                &:before {
                    content: "\2605";
                    font-size: $star-size + 2px;
                    color: $star-off-color;
                    line-height: 1;
                }
            }
            
            input {
                display: none;
            }
            
            input:checked ~ label:before,
            &:not(:checked) > label:hover:before,
            &:not(:checked) > label:hover ~ label:before {
                color: $star-on-color;
            }
        }
    }
}
