.ttgz_advert_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // height: 75vh;


    #advert_filter_display { display: none; }
    @include screen-md() {
        flex-direction: column;
        height: auto;
        margin-top: 2rem;
        #advert_filter_display {
            display: flex;
        }
    }

    .advert_filter_container {
        width: 25%;
        display: flex;
        flex-direction: column;
        border: 1px solid black;

        @include screen-md() {
            width: 100%;
            .bloc_title {
                justify-content: center;
                margin-bottom: 1rem;
                h3 {
                    font-size: 2rem;
                }
            }
        }

        .advert_filter {
            margin-top: 1rem;

            @include screen-md() {
                margin-top: 0.50rem;
            }

            p {
                font-size: 1.500rem;
                font-weight: bold;
                margin-bottom: 0.50rem;

                @include screen-md() {
                    font-size: 1.250rem;
                }
            }

            .display_option {
                display: inline-block;
                margin-top: 1rem;
                margin-left: 0;
                margin-bottom: 0.250rem;
                margin-right: 1rem;
                height: 42px;
                width: 42px;
                border-radius: 8px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 24px 24px;

                &:hover {
                    cursor: pointer;
                }
            }

            .display_row {
                background-color: white;
                background-image: url("../../../public/img/display-row.png");

                &:hover,
                &.active {
                    background-color: black;
                    background-image: url("../../../public/img/display-row-white.png");
                }
            }

            .display_grid {
                background-color: white;
                background-image: url("../../../public/img/display-grid.png");

                &:hover,
                &.active {
                    background-color: black;
                    background-image: url("../../../public/img/display-grid-white.png");
                }
            }
        }

        .advert_filter_display {
            @include screen-md() {
                display: none;
            }
        }

        .advert_fitler_search {
            margin-bottom: 2rem;

            .advert_search_input {
                height: 36px;
                border: 1.4px solid black;
                border-top-left-radius: 18px;
                border-bottom-left-radius: 18px;
                padding-left: 8px;
            }

            .advert_search_submit {
                color: white;
                background-color: black;
                height: 36px;
                border: 1.4px solid black;
                border-top-right-radius: 18px;
                border-bottom-right-radius: 18px;
                padding: 0 12px;
                padding-right: 16px;
            }
        }

        .advert_filter_payout {
            display: flex;
            align-items: center;

            label {
                font-weight: bold;
                margin-right: 8px;
                font-size: 1.250rem;
            }

            input {
                margin-right: 8px;
                height: 36px;
                width: 100px;
                border-radius: 18px;
                padding-left: 10px;
                border: 1.4px solid black;
            }
        }

        .advert_filter_rate {
            display: flex;
            flex-direction: column;

            p {
                font-size: 1.125rem;
            }

            .rating-group {
                display: inline-flex;
            }

            .rating__icon {
                pointer-events: none;
            }

            .rating__input {
                position: absolute !important;
                left: -9999px !important;
            }

            .rating__input--none {
                display: none;
            }

            .rating__label {
                cursor: pointer;
                padding: 0 0.1em;
                font-size: 1.5rem;
            }

            .rating__icon--star {
                color: orange;
            }

            .rating__input:checked~.rating__label .rating__icon--star {
                color: #ddd;
            }

            .rating-group:hover .rating__label .rating__icon--star {
                color: orange;
            }

            .rating__input:hover~.rating__label .rating__icon--star {
                color: #ddd;
            }
        }

        .advert_filter_range {
            p {
                font-size: 1.125rem;
            }

            select {
                height: 32px;
                border-radius: 16px;
                padding: 6px;
                border: 1.4px solid black;

                option {}
            }
        }

        .advert_filter_role_display {
            .role_option {
                display: inline-block;
                margin-top: 1rem;
                margin-left: 0;
                margin-bottom: 0.250rem;
                margin-right: 1rem;
                height: 42px;
                width: 42px;
                border-radius: 8px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 24px 24px;

                &:hover {
                    cursor: pointer;
                }
            }

            .tondeur {
                background-color: white;
                background-image: url("../../../public/img/display-row.png");

                &:hover,
                &.active {
                    background-color: black;
                    background-image: url("../../../public/img/display-row-white.png");
                }
            }

            .tondu {
                background-color: white;
                background-image: url("../../../public/img/display-grid.png");

                &:hover,
                &.active {
                    background-color: black;
                    background-image: url("../../../public/img/display-grid-white.png");
                }
            }

            @include screen-md() {
                display: flex;
                align-items: center;

                .role_option {
                    margin-top: 0;
                    margin-bottom: 0;
                    margin-right: 0.33rem;
                    margin-left: 0.33rem;
                }

                p {
                    margin-bottom: 0;
                }
            }
        }
    }

    .advert_list_container_grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 70%;

        @include screen-sm() {
            flex-direction: column;
            width: 100%;
        }

        a {
            display: flex;
            flex-direction: column;
            margin: $space-medium 0;
            width: 30%;

            &:hover {
                text-decoration: none;
            }

            @include screen-sm() {
                margin: $space-small 0;
                width: 100%;
            }

            img {
                width: 100%;
                margin: $space-small 0;
                border-radius: 2rem;
            }

            .advert_infos {
                display: flex;
                flex-direction: column;

                .infos_first {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin: $space-e-small 0;
                    align-items: center;

                    @include screen-sm() {
                        margin: $space-e-small*0.5 0;
                    }

                    .info_name {
                        font-weight: bold;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .info_payout {
                        height: 28px;
                        color: white;
                        background-color: black;
                        border-radius: 1rem;
                        font-size: 12px;
                        padding: 6px 12px;
                    }
                }

                .infos_description {
                    display: none;
                }

                .infos_second {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin: $space-e-small 0;
                    align-items: center;

                    @include screen-sm() {
                        margin: $space-e-small*0.5 0;
                    }

                    .info_note {
                        font-size: 12px;
                        font-weight: bold;
                        padding-bottom: 2px;

                        img {
                            margin: 0;
                            height: 14px;
                            width: 14px;
                            margin-bottom: -2px;
                            margin-right: 2px;
                        }

                        mark {
                            color: $c-darkGrey;
                            font-weight: normal;
                            background-color: unset;
                            text-decoration: none;
                        }
                    }

                    .info_size {
                        font-size: 14px;
                        font-weight: bold;

                        mark {
                            color: $c-darkGrey;
                            font-weight: normal;
                            background-color: unset;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    .advert_list_container_row {
        display: flex;
        flex-direction: column;
        width: 70%;

        @include screen-sm() {
            flex-direction: column;
            width: 100%;
        }

        a {
            display: flex;
            flex-direction: row;
            margin: $space-medium 0;
            width: 100%;
            justify-content: space-between;
            transition: transform 0.4s ease;

            &:hover {
                text-decoration: none;
                transform: translateY(-5px);
            }

            @include screen-sm() {
                margin: $space-small 0;
                width: 100%;
            }

            img {
                width: 30%;
                margin: $space-small 0;
                border-radius: 2rem;
            }

            .advert_infos {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 65%;

                .infos_first {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin: $space-e-small 0;
                    align-items: center;

                    @include screen-sm() {
                        margin: $space-e-small*0.5 0;
                    }

                    .info_name {
                        font-size: 1.25rem;
                        font-weight: bold;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .info_payout {
                        height: 32px;
                        color: white;
                        background-color: black;
                        border-radius: 2rem;
                        font-size: 1rem;
                        padding: 8px 16px;
                    }
                }

                .infos_description {
                    font-weight: 300;
                    margin: $space-medium 0;
                }

                .infos_second {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin: $space-e-small 0;
                    align-items: center;

                    @include screen-sm() {
                        margin: $space-e-small*0.5 0;
                    }

                    .info_note {
                        font-size: 0.875rem;
                        font-weight: bold;
                        padding-bottom: 2px;
                        order: 2;

                        img {
                            margin: 0;
                            height: 14px;
                            width: 14px;
                            margin-bottom: -2px;
                            margin-right: 2px;
                        }

                        mark {
                            color: $c-darkGrey;
                            font-weight: normal;
                            background-color: unset;
                            text-decoration: none;
                        }
                    }

                    .info_size {
                        font-size: 1rem;
                        font-weight: bold;
                        order: 1;

                        mark {
                            font-size: 0.875rem;
                            color: $c-darkGrey;
                            font-weight: normal;
                            background-color: unset;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}