.profile{
    width: 100%;
    display: flex;
    flex-direction: row;
    @include screen-md() {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .sidebar{
        width:20%;
        @include screen-md() {
            width: 100%;
        }
        

        h2{
            font-weight: 600;
            font-size: 2rem;
            letter-spacing: -2px;
            color: black;
        }

        h3{
            font-weight: 600;
            font-size: 1.75rem;
            margin-bottom: 20px;
            letter-spacing: -1px;

            &:not(:first-child){
                margin-top:30px;
            }
        }
        
        .boxed{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 30px;

            label {
                position: relative;
                img {
                    position: relative;
                    height: 52px;
                    width: 52px;
                    border-radius: 52px;
                    margin-right: 10px;
                    &:hover {
                        cursor: pointer;
                    }
                }
                img:hover + .profile_pic_change, .profile_pic_change:hover{
                    display: block;
                    cursor: pointer;
                }
                .profile_pic_change {
                    display: none;
                    color: white;
                    background-color: rgba(0, 0, 0,0.5 );
                    position: absolute;
                    height: 52px;
                    width: 52px;
                    border-radius: 52px;
                    top: 0; left: 0;
                    text-align: center;
                    font-size: 0.6250rem;
                }
                input {
                    display: none;
                }
            }
        }
        
        ul{
            list-style-type: none;

            li{
                font-weight: 600;
                margin-left: 15px;
                margin-bottom: 15px;

                &::before{
                    content:'';
                    position: absolute;
                    height: 3px;
                    width: 10px;
                    background-color: black;
                    margin-left: -15px;
                    margin-top: 9px;
                }
            }
        }
    }

    .card{
        border-radius: 17px;
        background-color: white;
        -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
        -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
        box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
        text-align: center;
        display: flex;
        flex-direction: column;
        padding:25px;

        .stat{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            &:not(:last-child){
                margin-bottom: 15px;
            }

            .text{
                font-size: 1rem;
                font-weight: 600;
                margin-bottom: 5px;
            }

            .num{
                font-size: 1.5rem;
                font-weight: 700;
            }

            .btn{
                margin-top: 15px;
            }
        }

        .notif{
            &::after{
                position: absolute;
                height: 10px;
                width: 10px;
                border-radius: 100%;
                background-color: #E54141;
                margin-left: -15px;
                margin-top: 9px;
            }
        }
    }

    .profile-content{
        width: 75%;
        margin-left: 5%;
        @include screen-md() {
            margin-left: 0;
            width:100%;
        }
        .mes-infos{
            display: flex;
            flex-direction: row;

            @include screen-md() {
                flex-direction: column;
            }

            .formulaire{
                width: 70%;
                form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .form_group {
                        width: 100%;
                    }

                    .btn_secondary {
                        text-align: center;
                    }
                }
                @include screen-md() {
                    margin-top:50px;
                    width:100%;
                }
            }
            .sidebar{
                width:30%;
                @include screen-md() {
                    width: 100%;
                }
            }
        }

        .my_garden {
            .my_garden_list {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                @include screen-md() {
                    margin-top: $space-medium;
                }
                @include screen-sm() {
                    flex-direction: column;
                }
                .my_garden_solo {
                    display: flex;
                    flex-direction: column;

                    margin-right: 3%;
                    width: 30%;
                    margin-bottom: $space-medium;
                    border: 2px solid black;
                    border-radius: 24px;
                    @include screen-sm() {
                        width: 100%;
                    }
                    img.my_garden_solo_img {
                        width: 100%;
                        border-top-left-radius: 24px;
                        border-top-right-radius: 24px;
                    }
                    .my_garden_solo_info {
                        display: flex;
                        flex-direction: column;

                        padding: $space-medium;
                        strong {
                            font-size: 1.50rem;
                        }
                        .my_garden_solo_picto {
                            margin: $space-small 0;
                            img {
                                width: 18px;
                                width: 18px;
                                margin-right: $space-e-small;
                            }
                        }
                        p {
                            margin-bottom: $space-medium;
                        }
                        b {
                            margin-bottom: $space-medium;
                        }
                        a {
                            align-self: center;
                        }

                        .my_garden_buttons {
                            display: flex;
                            align-items: center;
                            .my_garden_trash {
                                width: 24px;
                                height: 24px;
                                img {
                                    width: 24px;
                                    height: 24px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}