.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;

    .page_title {
        font-size: 2rem;
    }
}



.btn_primary {
    
}