// Commons
$container-width: 1400px;

// Colors

    // c-l-color is 10% lighter then targeted color
    // c-d-color is 10% darker then targeted color
    // Use them for animation or contrast, etc...
$c-primary: #123434;
$c-l-primary: lighten( $c-primary, 10%);
$c-d-primary: darken( $c-primary, 10%);
$c-secondary: #123434;
$c-l-secondary: lighten( $c-secondary, 10%);
$c-d-secondary: darken( $c-secondary, 10%);
$c-tertiary: #123434;
$c-l-tertiary: lighten( $c-tertiary, 10%);
$c-d-tertiary: darken( $c-tertiary, 10%);

$c-white: #123434;
$c-lightGrey: #123434;
$c-grey: #123434;
$c-darkGrey: #123434;
$c-black: #123434;

// Font variables
// by default, 1rem = 16px

    // To define your line height based on thoose values
    // use : "line-height: $f-title-medium*1.25"

    // If some type of texte is frequently used on the website
    // create a new variable for him
    // Exemple : $f-quotation: 1rem;

$f-title-small: 1rem;
$f-title-medium: 1rem;
$f-title-large: 1rem;

$f-text-small: 1rem;
$f-text-medium: 1rem;
$f-text-large: 1rem;

// Spacing
// Used to get the same between every elements
$space-small: 1rem;
$space-e-small: $space-small*0.5;
$space-medium: 1rem;
$space-large: 1rem;
$space-e-large: $space-large*2;

// Break Points
// Used for media query / responsive
$break-mobile: 640px;
$break-tablet: 1200px;